<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Smart Ticket</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <!-- Custom styles for this template -->
  <style media="screen">
    body {
      padding-top: 56px;
    }
    .navbar{
      opacity: 0.8;
    }
    .eventname:link{
      color: black;
    }
    .carousel-item {
      height: 65vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Smart Ticket</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Gõ để tìm kiếm" aria-label="Search">
        <button class="btn btn-outline-info btn-sm my-2 my-sm-0" type="submit">Tìm</button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Các sự kiện
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">Gần bạn</a>
            <a class="dropdown-item" href="#">Bạn đã tham gia</a>
            <a class="dropdown-item" href="#">Có thể bạn hứng thú</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Phân loại
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="#">Hòa nhạc</a>
            <a class="dropdown-item" href="#">Xem phim</a>
            <a class="dropdown-item" href="#">Triển lãm</a>
            <a class="dropdown-item" href="#">Hội thảo</a>
            <a class="dropdown-item" href="#">Khác ...</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Liên hệ</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="btn btn-info" role="button">Đăng nhập</a>
          <a href="/user/information" class="btn btn-outline-info btn-sm">Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header style="text-align: center">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" >
        <a href="/event/detail/<%= listData[0]._id%>"><img src="http://res.cloudinary.com/a123abc/image/upload/<%= listData[0].imageUrl%>" alt="" style="width: 100%">
        <div class="carousel-caption d-none d-md-block">
          <h3><%= listData[0].name%></h3>
        </div>
      </a>
      </div>
      <% for (var i = 1; i < 4; i++){ %>
        <div class="carousel-item " >
          <a href="/event/detail/<%= listData[i]._id%>"><img src="http://res.cloudinary.com/a123abc/image/upload/<%= listData[i].imageUrl %>" style="width: 100%" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h3><%= listData[i].name%></h3>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<div class="container">

  <h1 class="my-4" style="text-align: center">Các Sự Kiện Nổi Bật</h1>

  <div class="row">
    <% for (var i = 0; i < 10; i++){ %>
      <div class="col-lg-6 mb-4" >
        <div class="card h-100" >
          <a href="/event/detail/<%= listData[i]._id%>"><img class="card-img-top" height="220px" src="http://res.cloudinary.com/a123abc/image/upload/<%= listData[i].imageUrl %>"></a>
          <div class="card-body" style="padding: 1.25rem 0 0.5rem 1.25rem">
            <div class="row">
             <h5 class="card-text" > <a href="/event/detail/<%= listData[i]._id%>" class="eventname"><%= listData[i].name.substr(0,40)%>...</a></h5>
            </div>
            <div class="row">
              <div class="col-sm-9"><br><p style="font-size: x-small"><%=listData[i].location%></p></div>
              <div class="col-sm-3">
                <div class="row" style="text-align: center">
                  <div class="col-sm-7" style="background-color: red; color: white;font-size: x-small;border: solid black 0.5px; border-bottom: none">Tháng <%= listData[i].timeStart.getMonth()+1%></div>
                </div>
                <div class="row" style="text-align: center">
                  <div class="col-sm-7" style="border: solid black 0.5px; border-bottom: solid gray 2.5px; border-top: none"><%= listData[i].timeStart.getDate()%></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a href="/event/detail/<%= listData[i]._id%>" class="btn btn-info ">Xem thêm</a>
            <a href="#" class="btn btn-outline-success btn-sm" style="float: right">Đặt vé</a>
          </div>
        </div>
      </div>
    <% } %>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Đôi điều về chúng tôi</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium atque aut cumque dolorum eligendi eum excepturi itaque libero molestiae nam necessitatibus odio officiis quae quaerat quisquam, sequi sunt voluptatibus?</p>
      <ul>
        <li>
          <strong>Hello</strong>
        </li>
        <li>dfsdfsd</li>
        <li>Font </li>
        <li> contact form with validation</li>
        <li>e elements for easy customization</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="/event/information">Tạo Sự Kiện</a>
    </div>
  </div>

</div>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <i></i>
    <p class="m-0 text-center text-white">Copyright &copy; </p>
  </div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
